<main>
  <h2>List of Works</h2>
  <section class="media-table">
    <h4>Albums</h4>
    <table class="table">
      <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Creator</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
      </tr>
    <% Work.ordered_filter("album") %>

    </table>
  </section>
</main>