<main>
  <h2>List of Users</h2>
  <section class="user-table">
    <h4>Albums</h4>
    <table class="table">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Votes</th>
        <th scope="col">Joined</th>
      </tr>
      <% User.all.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user.id) %></td>
          <td><%= user.votes.length %></td>
          <td><%= user.join_date %></td>
        </tr>
      <% end %>
    </table>
  </section>
</main>
