// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main.homepage {
  padding: 2rem;
}

.root__hr {
    margin: 0px auto 3rem auto;
    color: #EEEEEE;
}

.top-ten__creator {
    color: slategrey;
}

.top-ten__header {
    color: #26A69A;
    border-bottom: 2px solid;
    border-bottom-color: currentcolor;
    border-bottom-color: #B2DFDB;
}

.top-ten__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.top-ten__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.spotlight {
    padding: 0 2rem 2rem 2rem;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
//     border: 1px solid rgba(0,0,0,0.125);
}

.spotlight__header--prefix {
    color: #424242;
}

.spotlight__link-to, .list-group-item a {
    color: #26A69A;
    text-decoration: none;
    background-color: transparent;
}

.spotlight__link-to, .list-group-item a:hover {
    color: #26A69A;
    text-decoration: inherit;
    background-color: transparent;
}

.spotlight__link-to {
    text-decoration: underline;
}

.spotlight__header--prefix a:hover {
    color: #00796B;
    text-decoration: none;
}